<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Landon Hotel: Guests</title>
</head>
<body>
	<h1>Welcome to the Guests Page</h1>
	<table>
		<tr>
			<td>First Name</td>
			<td>Last Name</td>
			<td>Email</td>
			<td>Phone</td>
		</tr>
		<tr th:each="guest: ${guestList}">
			<td th:text="${guest.firstName}">First Name</td>
			<td th:text="${guest.lastName}">Last Name</td>
			<td th:text="${guest.email}">Email</td>
			<td th:text="${guest.foneNumber}">Phone</td>
		</tr>

	</table>
</body>
</html>